<p>
    The Laser-Cut Maze Designer was created by Aaron Rodriguez.
</p>
<p>
    The source code can be found on
    <a href="https://github.com/adashrod/LaserCutMazesAngular" target="_blank" appTrackClick category="About" label="githubProject">GitHub</a>.
    If you find a bug and would like to submit a report (or a feature request), you can do so
    <a href="https://github.com/adashrod/LaserCutMazesAngular/issues" target="_blank" appTrackClick category="About" label="githubProjectIssues">here</a>.
</p>
<p>
    Aaron's other projects can also be found on <a href="https://github.com/adashrod" target="_blank" appTrackClick category="About" label="githubHome">GitHub</a>.
</p>
