.conversions {
    margin-bottom: 5px;
}

.section-title {
    text-align: center;
    margin: 2px 0;
}

.inputs {
    border-width: 2px;
    border-style: outset;
    border-color: #f3e0dc #d4a59a #d4a59a #f3e0dc;
    padding: 5px;
    background: #d4a59a;
    color: #5c2018;
}

.maze-inputs {
    width: 390px;
}

.printer-inputs, .calibration-inputs {
    width: 380px;
}

.row {
    display: table-row;
}

.row > span, .row > input, .row > label, .row > select {
    display: table-cell;
    margin: 2px 5px;
}

.row > input {
    width: 60px;
}

table.maze {
    border-collapse: collapse;
    background: #f3e0dc;
}

td {
    padding: 0;
    width: 25px;
    height: 25px;
}

.northWall {
    border-top: 1px solid black;
}

.eastWall {
    border-right: 1px solid black;
}

.southWall {
    border-bottom: 1px solid black;
}

.westWall {
    border-left: 1px solid black;
}

.svg-preview {
    background: #d4a59a;
    overflow: scroll;
}

.blueprint {
    width: 100%;
    height: 1000px;
}

.out-of-bounds {
    background: #4285f4;
    border: 1px solid #5c2018;
    padding: 2px 5px 2px;
}
