<div class="end-container">
    <header>
        <div class="page-title">Laser-Cut Maze Designer</div>
        <nav>
            <a routerLink="/LaserCutMazes/welcome" routerLinkActive="active">Home</a>
            <a routerLink="/LaserCutMazes/designer" routerLinkActive="active">Maze Designer</a>
            <a routerLink="/LaserCutMazes/help" routerLinkActive="active">Help</a>
            <a routerLink="/LaserCutMazes/about" routerLinkActive="active">About</a>
        </nav>
    </header>
</div>
<div class="main-body">
    <router-outlet></router-outlet>
</div>
<div class="end-container">
    <footer>
        <div class="copyright">&copy; 2018 Aaron Rodriguez</div>
        <nav>
            <a routerLink="/LaserCutMazes/welcome" routerLinkActive="active">Home</a>
            <a routerLink="/LaserCutMazes/designer" routerLinkActive="active">Maze Designer</a>
            <a routerLink="/LaserCutMazes/help" routerLinkActive="active">Help</a>
            <a routerLink="/LaserCutMazes/about" routerLinkActive="active">About</a>
        </nav>
    </footer>
</div>
