<div class="end-container">
    <header>
        <div class="page-title">Laser-Cut Blueprints: Maze Builder</div>
        <nav>
            <a routerLink="/welcome" routerLinkActive="active">Home</a>
            <a routerLink="/builder" routerLinkActive="active">Maze Builder</a>
            <a routerLink="/help" routerLinkActive="active">Help</a>
        </nav>
    </header>
</div>
<div class="main-body">
    <router-outlet></router-outlet>
</div>
<div class="end-container">
    <footer>
        <div class="copyright">&copy; 2018 Aaron Rodriguez</div>
        <nav>
            <a routerLink="/welcome" routerLinkActive="active">Home</a>
            <a routerLink="/builder" routerLinkActive="active">Maze Builder</a>
            <a routerLink="/help" routerLinkActive="active">Help</a>
        </nav>
    </footer>
</div>
