.container {
    position: relative;
}

.fade-slide {
    animation: fade-in 500ms, slide 500ms;
}

.fade-slide-pop-left {
    animation: fade-in 500ms, slide-pop-left 500ms;
}

.glow {
    animation: 750ms glow 1s 3;
}

.toggle-button, .close {
    cursor: pointer;
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
}

.modal {
    box-shadow: 2px 2px 5px 5px rgba(64, 80, 96, .25);
    position: absolute;
    left: 0;
    padding: 5px;
    background: #f3e0dc;
    color: #bc4639;
    width: 300px;
    z-index: 1;
}

.modal.pop-left {
    left: auto;
    right: 0;
}

:host /deep/ .title {
    font-style: italic;
}

:host /deep/ .body {
    max-height: 400px;
    overflow-y: auto;
}

:host /deep/ .title, :host /deep/ .body {
    text-align: left;
}

@keyframes glow {
    0% {
        color: #000;
        background-color: #fff;
    }
    50% {
        color: #888;
        background-color: #0ff;
    }
    100% {
        color: #000;
        background-color: #fff;
    }
}

@keyframes fade-in {
    0% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes slide {
    0% { left: 10px; }
    100% { left: 0; }
}

@keyframes slide-pop-left {
    0% { right: -10px; }
    100% { right: 0; }
}
