<div>
    <p>Welcome to the Laser-Cut Maze Designer, by Aaron Rodriguez</p>
    <p>With this tool and a laser cutter such as a <a href="http://glowforge.com" target="_blank">Glowforge</a> or an
        <a href="http://epiloglaser.com" target="_blank">Epilog</a>, you can create your own wooden toy maze. You can then assemble
        it and play with it by rolling around a small marble through the hallways.
    </p>
</div>
<div>
    <iframe width="480" height="270" src="https://www.youtube.com/embed/4fWBe2R-6Nw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="allowfullscreen"></iframe>
</div>
<div>
    <p>Get started <a routerLink="/LaserCutMazes/designer">here</a></p>
</div>
